<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}

<h2>{{ .AcaYear }} </h2>
<h5>{{ .Fall.Term }}</h5>
    {{ range .Fall.Courses }}
       <li> Number: {{.Number}} | Name: {{.Name}} | Units: {{.Units}} </li>
    {{end}}
<h5>{{ .Spring.Term }}</h5>
    {{ range .Spring.Courses }}
        <li> Number: {{.Number}} | Name: {{.Name}} | Units: {{.Units}}  </li>
    {{end}}
{{end}}
</body>
</html>