<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.}}</title>
</head>
<body>

<strong>{{.}}</strong><br>
<a href="/">main page</a><br>
<a href="/me/nhu">me</a><br>
<a href="/dog">dog</a><br>

</body>
</html>