<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h2> CSV Reader </h2>
{{range .}}
    Date: {{.Date}}<br>
    High: {{.High}}<br>
    Low: {{.Low}}<br>
    Close: {{.Close}}<br>
    Volume: {{.Volume}}<br>
    Adjusted Close: {{.AdjClose}}<br>
{{end}}

</body>
</html>